
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-form-field>
          <input matInput type="date" [disabled]="disabled"  [(ngModel)]="startDate">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="date" [disabled]="disabled" [(ngModel)]="endDate">
        </mat-form-field>
        <button mat-icon-button [disabled]="disabled" (click)="FilterVentes()"><mat-icon>search</mat-icon></button>
        <button mat-icon-button (click)="Reset()"><mat-icon>close</mat-icon></button>
        
    </div>
    <!-- <div class="row ">
      <div class="col-sm-4 col-md-2" *ngFor="let jvente of JVentes ; let j = index;">
        <mat-card class="example-card">
          <mat-card-header  fxLayout="column" fxLayoutAlign="center center">
            <h5 style=" margin: 0 !important;"> {{getDate(jvente[0][0].date)}}</h5>
          </mat-card-header>
          <mat-card-content style="height: 50px;" class="item w-100 h-100">
            <button class="w-100" mat-button>
              <div>{{jvente.length}} : Ventes</div>
              <div>CA : {{Nombre(getJourTotal(j))}}</div>
              <div></div>
    
            </button>
          </mat-card-content>
        </mat-card>
      </div>
      </div> -->
      <mat-accordion>
        <mat-expansion-panel *ngFor="let jvente of JVentes  ; let j = index;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span>{{getDate(jvente[0][0].date)}} </span>
            </mat-panel-title>
            <mat-panel-description *ngIf="MDP =='55413494'" fxLayoutAlign="space-around center">
              <span style="width: 100px;">
                {{jvente.length}} : Ventes </span>
              <span style="width: 100px;">
                CA : {{Nombre(getJourTotal(j))}}
                <!-- Marge : {{Nombre(getJourMarge(j))}} -->
              </span>
              <span style="width: 100px;">
                M : {{Nombre(getJourMarge(j))}}
              </span>
            </mat-panel-description>
          </mat-expansion-panel-header>
            <!-- <mat-accordion>
              <mat-expansion-panel *ngFor="let vente of jvente ; let j = index;">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span>Vente N° {{j+1}} </span>
                  </mat-panel-title>
                  <mat-panel-description fxLayoutAlign="space-around center">
                    <span>
                      {{vente[0].date}} </span>
                    <span>
                      Total : {{Nombre(getTotal(j))}}
                    </span>
                  </mat-panel-description>
                </mat-expansion-panel-header>
            
              </mat-expansion-panel>
        
            </mat-accordion> -->
        </mat-expansion-panel>
    
      </mat-accordion>
        <!-- <mat-accordion>
          <mat-expansion-panel *ngFor="let vente of ventes ; let j = index;">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span>Vente N° {{j+1}} </span>
              </mat-panel-title>
              <mat-panel-description fxLayoutAlign="space-around center">
                <span>
                  {{vente[0].date}} </span>
                <span>
                  Total : {{Nombre(getTotal(j))}}
                </span>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div style=" background-color:white ;
          height: 100%; width: 100%; border-radius: 5px; margin-top: 15px;" fxLayout="column" fxLayoutGap="15px"
              fxLayoutAlign="start center">
    
              <cdk-table [dataSource]="table(j)" class="example-table">
    
                <ng-container cdkColumnDef="Qte">
                  <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> Qte </cdk-header-cell>
                  <cdk-cell *cdkCellDef="let element"> {{element.quantite}} </cdk-cell>
    
                </ng-container>
    
                <ng-container cdkColumnDef="Article">
                  <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> Article </cdk-header-cell>
                  <cdk-cell *cdkCellDef="let element"> {{getArticle(element.article).designation}} </cdk-cell>
    
                </ng-container>
    
                <ng-container cdkColumnDef="PU">
                  <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> P.U </cdk-header-cell>
                  <cdk-cell *cdkCellDef="let element">{{Nombre(element.prixUnit)}} </cdk-cell>
    
                </ng-container>
    
                <ng-container cdkColumnDef="Total">
                  <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> Total </cdk-header-cell>
                  <cdk-cell *cdkCellDef="let element">{{Nombre(element.quantite*element.prixUnit)}} </cdk-cell>
    
                </ng-container>
    
                <cdk-header-row class="example-header-row" *cdkHeaderRowDef="Vente"></cdk-header-row>
                <cdk-row class="example-row" *cdkRowDef="let row; columns: Vente;"></cdk-row>
              </cdk-table>
    
            </div>
          </mat-expansion-panel>
    
        </mat-accordion> -->
        <div fxLayout="row" fxLayoutAlign="space-between start" class="w-100">
    
        <mat-form-field>
          <input matInput type="password" [(ngModel)]="MDP">
        </mat-form-field>
          <div *ngIf="MDP =='55413494'" > CA : {{getTotalCA()}} </div>
          <div *ngIf="MDP =='55413494'" > Marge: {{getTotalMarge()}} </div>
        </div>