<mat-tab-group [backgroundColor]="'primary'" class="h-100">
  <!-- Caisse -->
  <mat-tab label="Caisse" class="h-100">
    <div class="container-fluid w-100 h-100" style=" background-color:#757575 ;">
      <div class="main row" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around start"
        style=" background-color:#757575 ;">
        <!-- Liste des Articles -->
        <div class="col-sm-4 col-md-8 row " style=" background-color:#757575 ;">
          <div class="col-sm-4 col-md-3 article" *ngFor="let article of active_articles">
            <mat-card class="example-card">
              <mat-card-header style="height: 50px;" fxLayout="column" fxLayoutAlign="center center">
                <h5 style=" margin: 0 !important;"> {{article.designation}}</h5>
                <span class="notify-badge">{{article.prixVente}}</span>
              </mat-card-header>
              <mat-card-content class="item w-100 h-100">
                <button class="w-100" mat-button (click)="openCalculatrice(article)">
                  <img mat-card-image [src]="article.image==''?'./assets/images/Bouteille.png':article.image"
                    style="margin-top: 0;" width="100%" height="100px">
                </button>
              </mat-card-content>
            </mat-card>
          </div>
          <!-- <div class="col-sm-4 col-md-3 article">

            <mat-card class="example-card">
              <mat-card-header style="height: 50px;" fxLayout="column" fxLayoutAlign="center center">
                <h5 style=" margin: 0 !important;"> 3 en 1</h5>
                <span class="notify-badge1">Echange</span>
              </mat-card-header>
              <mat-card-content class="item w-100 h-100">
                <button class="w-100" mat-button (click)="openEchange('3 en 1')">
                  <img mat-card-image [src]="'./assets/images/echange.png'" style="margin-top: 0;" width="100%"
                    height="100px">
                </button>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-sm-4 col-md-3 article">

            <mat-card class="example-card">
              <mat-card-header style="height: 50px;" fxLayout="column" fxLayoutAlign="center center">
                <h5 style=" margin: 0 !important;"> 1 en 3</h5>
                <span class="notify-badge1">Echange</span>
              </mat-card-header>
              <mat-card-content class="item w-100 h-100">
                <button class="w-100" mat-button (click)="openEchange('1 en 3')">
                  <img mat-card-image [src]="'./assets/images/echange.png'" style="margin-top: 0;" width="100%"
                    height="100px">
                </button>
              </mat-card-content>
            </mat-card> 
          </div>-->
        </div>
        <!-- Tableau de Caisse -->
        <div class="col-md-4" style=" background-color:white ;
        height: 100%;  border-radius: 5px; margin-top: 15px;" fxLayout="column" fxLayoutGap="15px"
          fxLayoutAlign="start center">
          <div></div>
          <span class="notify-badge">Vente n°{{TVentes.length+1}}</span>

          <cdk-table [dataSource]="dataSource" class="example-table">
            <ng-container cdkColumnDef="action">
              <cdk-header-cell [ngClass]="'w-40'" class="example-header-cell" *cdkHeaderCellDef> </cdk-header-cell>
              <cdk-cell [ngClass]="'w-40'" *cdkCellDef="let element ;  let j = index;">
                <mat-icon aria-hidden="false" (click)="supprimer(j)">clear</mat-icon>
              </cdk-cell>
              <cdk-footer-cell [ngClass]="'w-40'" *cdkFooterCellDef>Total</cdk-footer-cell>
            </ng-container>
            <!-- Article Column -->
            <ng-container cdkColumnDef="Article">
              <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> Article </cdk-header-cell>
              <cdk-cell *cdkCellDef="let element"> {{getArticle(element.article).designation}} </cdk-cell>
              <cdk-footer-cell *cdkFooterCellDef></cdk-footer-cell>

            </ng-container>
            <!-- Position Column -->
            <ng-container cdkColumnDef="Qte">
              <cdk-header-cell [ngClass]="'w-40'" class="example-header-cell" *cdkHeaderCellDef> Qte </cdk-header-cell>
              <cdk-cell [ngClass]="'w-40'" *cdkCellDef="let element"> {{element.quantite}} </cdk-cell>
              <cdk-footer-cell [ngClass]="'w-40'" *cdkFooterCellDef></cdk-footer-cell>

            </ng-container>

            <!-- PU Column -->
            <ng-container cdkColumnDef="PU">
              <cdk-header-cell [ngClass]="'w-50'" class="example-header-cell" *cdkHeaderCellDef> P.U </cdk-header-cell>
              <cdk-cell [ngClass]="'w-50'" *cdkCellDef="let element">{{Nombre(element.prixUnit)}} </cdk-cell>
              <cdk-footer-cell [ngClass]="'w-50'" *cdkFooterCellDef></cdk-footer-cell>

            </ng-container>

            <!-- Total Column -->
            <ng-container cdkColumnDef="Total">
              <cdk-header-cell [ngClass]="'w-75'" class="example-header-cell" *cdkHeaderCellDef> Total
              </cdk-header-cell>
              <cdk-cell [ngClass]="'w-75'" *cdkCellDef="let element">{{Nombre(element.quantite*element.prixUnit)}}
              </cdk-cell>
              <cdk-footer-cell [ngClass]="'w-75'" *cdkFooterCellDef>{{Nombre(getTotalprix())}}</cdk-footer-cell>

            </ng-container>

            <cdk-header-row class="example-header-row" *cdkHeaderRowDef="Article_Caisse"></cdk-header-row>
            <cdk-row class="example-row" *cdkRowDef="let row; columns: Article_Caisse;"></cdk-row>
            <cdk-footer-row *cdkFooterRowDef="Article_Caisse"></cdk-footer-row>
          </cdk-table>

          <div class="w-100" style="padding: 10px !important;" fxLayout="row" fxLayoutAlign="space-between start">
            <button mat-raised-button (click)="annuler()" class="operation" [disabled]="loading">Annuler</button>
            <button mat-raised-button color="primary" (click)="passer()" class="operation"
              [disabled]="loading || isValidVente">
              {{loading?'Loading..':'Passer'}}</button>
          </div>


        </div>
      </div>
    </div>
  </mat-tab>
  <!-- Mouvements -->
  <mat-tab label="Mouvements">
    <div class="container-fluid w-100 h-100">
      <div class="w-100" fxLayout="column" fxLayoutAlign="space-around start">
        <!-- Champs Mouvements -->
        <div class="actions w-100" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center"
          fxLayoutGap="10px" style="margin-top: 10px;">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Type d'opération</mat-label>
            <mat-select [(ngModel)]="mouvement.operation" name="operation" required>
              <mat-option [value]="'Entrée'">
                Entrée
              </mat-option>
              <mat-option [value]="'Sortie'">
                Sortie
              </mat-option>
           
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ operation.value ==="Entrée" ? 'Fournisseur' : 'Client'}}</mat-label>
            <mat-select [(ngModel)]="mouvement.acteur" name="acteur" required>
              <mat-option [value]="'Taher'">
                Taher
              </mat-option>
              <mat-option [value]="'Gaddour'">
                Gaddour
              </mat-option>
              <mat-option [value]="'Echange'">
                Echange
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Article</mat-label>
            <mat-select [(ngModel)]="mouvement.article" name="famille" required>
              <mat-option *ngFor="let article of active_articles" [value]="article.key">
                {{article.designation}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Quantité</mat-label>
            <input type="number" autocomplete="off" matInput placeholder="Quantité" [(ngModel)]="mouvement.quantite">
          </mat-form-field>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Date</mat-label>
            <input type="date" matInput required [(ngModel)]="mouvement.date">
          </mat-form-field>
          <!-- (click)="openCingredient()"  -->
          <div style="cursor:pointer;" fxLayout="row" fxLayoutAlign="center" (click)="AjoutMouvement()">
            <mat-icon color="primary" style="font-size: 21px;">add_to_photos</mat-icon>
            <span style="color: #3f51b5;" [fxHide.xs]="true">Ajouter</span>
          </div>
          <!-- <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px" [ngStyle.xs]="{'padding.px': 10}">
     
         
        </div> -->
        </div>
        <div style="width: 100%;">
          <mat-form-field appearance="outline" class="w-100">
            <input matInput autocomplete="off" (keyup)="FiltrerMouvement($event.target.value)" placeholder="Filtrer">
          </mat-form-field>
        </div>
      </div>
      <!-- Tableau de Mouvements -->
      <div class="example-container">
        <cdk-table [dataSource]="mouvements" class="example-table"
          class="mat-elevation-z8 table table-responsive-md table-striped " #sortM="matSort" matSort>
          <!-- Position Column -->
          <ng-container cdkColumnDef="reference">
            <cdk-header-cell mat-sort-header [ngClass]="'w-40'" class="example-header-cell" fxShow fxHide.lt-sm
              *cdkHeaderCellDef> Ref
            </cdk-header-cell>
            <cdk-cell [ngClass]="'w-40'" fxShow fxHide.lt-sm *cdkCellDef="let element">
              {{getArticle(element.article).reference}}
            </cdk-cell>
          </ng-container>

          <!-- Article Column -->
          <ng-container cdkColumnDef="designation">
            <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef mat-sort-header> Designation
            </cdk-header-cell>
            <cdk-cell *cdkCellDef="let element"> {{getArticle(element.article).designation}} </cdk-cell>
          </ng-container>


          <!-- PU Column -->
          <ng-container cdkColumnDef="date">
            <cdk-header-cell mat-sort-header [ngClass]="'w-120'" class="example-header-cell" fxShow fxHide.lt-sm
              *cdkHeaderCellDef> Date </cdk-header-cell>
            <cdk-cell [ngClass]="'w-120'" fxShow fxHide.lt-sm *cdkCellDef="let element"> {{element.date}} </cdk-cell>
          </ng-container>
          <!-- PU Column -->
          <ng-container cdkColumnDef="operation">
            <cdk-header-cell mat-sort-header [ngClass]="'w-120'" class="example-header-cell" *cdkHeaderCellDef>
              Operation </cdk-header-cell>
            <cdk-cell [ngClass]="'w-120'" *cdkCellDef="let element"> {{element.operation}} </cdk-cell>
          </ng-container>
          <!-- PU Column -->
          <ng-container cdkColumnDef="acteur">
            <cdk-header-cell mat-sort-header [ngClass]="'w-120'" class="example-header-cell" *cdkHeaderCellDef> Acteur
            </cdk-header-cell>
            <cdk-cell [ngClass]="'w-120'" *cdkCellDef="let element"> {{element.acteur}} </cdk-cell>
          </ng-container>
          <!-- PU Column -->
          <ng-container cdkColumnDef="quantité">
            <cdk-header-cell mat-sort-header [ngClass]="'w-120'" class="example-header-cell" *cdkHeaderCellDef> Quantité
            </cdk-header-cell>
            <cdk-cell [ngClass]="'w-120'" *cdkCellDef="let element"> {{element.quantite}} </cdk-cell>
          </ng-container>
          <!-- PU Column -->
          <ng-container cdkColumnDef="prix">
            <cdk-header-cell mat-sort-header [ngClass]="'w-120'" class="example-header-cell" *cdkHeaderCellDef> Prix
            </cdk-header-cell>
            <cdk-cell [ngClass]="'w-120'" *cdkCellDef="let element"> {{Nombre(element.prix)}} </cdk-cell>
          </ng-container>
          <!-- Total Column -->
          <ng-container cdkColumnDef="valeur">
            <cdk-header-cell mat-sort-header [ngClass]="'w-120'" class="example-header-cell" fxShow fxHide.lt-sm
              *cdkHeaderCellDef> Valeur
            </cdk-header-cell>
            <cdk-cell [ngClass]="'w-120'" fxShow fxHide.lt-sm *cdkCellDef="let element">
              {{Nombre(element.prix*element.quantite)}}
            </cdk-cell>
          </ng-container>

          <ng-container cdkColumnDef="actions">
            <cdk-header-cell [ngClass]="'w-120'" fxShow fxHide.lt-sm class="example-header-cell" *cdkHeaderCellDef
              fxLayout="row" fxLayoutAlign="space-between">

              <span>Supprimer</span>
            </cdk-header-cell>
            <cdk-cell [ngClass]="'w-120'" fxShow fxHide.lt-sm *cdkCellDef="let element" fxLayout="row"
              fxLayoutAlign="space-between">
              <button mat-icon-button style="color: red;" (click)="openSupprimeMouvement(element)">
                <mat-icon>delete</mat-icon>
              </button>
              <!-- (click)="openEdit(element)" -->
              <!-- (click)="openSupprimeArticle(element)" -->
            </cdk-cell>



          </ng-container>

          <ng-container cdkColumnDef="Supprimer">
            <cdk-header-cell [ngClass]="'w-120'" class="example-header-cell" *cdkHeaderCellDef> Supprimer
            </cdk-header-cell>
            <cdk-cell *cdkCellDef="let element" fxLayout="column" fxLayoutAlign="center start">
              <button [ngClass]="'w-120'" mat-icon-button style="color: #506169;">
                <mat-icon>delete</mat-icon>
              </button>
              <!-- (click)="openEdit(element)" -->
              <!-- (click)="openSupprimeArticle(element)" -->
            </cdk-cell>



          </ng-container>

          <cdk-header-row class="example-header-row" *cdkHeaderRowDef="Stock_columns"></cdk-header-row>
          <cdk-row class="example-row" *cdkRowDef="let row; columns: Stock_columns;"></cdk-row>

        </cdk-table>
      </div>
    </div>
  </mat-tab>

  <!-- Articles -->
  <mat-tab label="Articles">
    <div class="container-fluid w-100 h-100">
      <!-- Champs Articles -->
      <div class="w-100" fxLayout="column" fxLayoutAlign="space-around start">

        <div class="actions w-100" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">

          <mat-form-field appearance="outline" class="w-100">
            <input matInput autocomplete="off" (keyup)="FiltrerArticles($event.target.value)" placeholder="Filtrer">
          </mat-form-field>

          <div style="cursor:pointer;" fxLayout="row" fxLayoutAlign="center" (click)="openAjoutArticle()">

            <mat-icon color="primary" style="font-size: 21px;">add_to_photos</mat-icon>
            <span style="color: #3f51b5;" [fxHide.xs]="true">Ajouter</span>
          </div>
        </div>
      </div>
      <!-- Tableaux d'Articles -->
      <div class="example-container">
        <cdk-table [dataSource]="articles" class="example-table"
          class="mat-elevation-z8 table table-responsive-md table-striped " #sortA="matSort" matSort>
          <!-- Position Column -->
          <ng-container cdkColumnDef="reference">
            <cdk-header-cell mat-sort-header [ngClass]="'w-50'" class="example-header-cell" *cdkHeaderCellDef> Ref
            </cdk-header-cell>
            <cdk-cell [ngClass]="'w-50'" *cdkCellDef="let element"> {{element.reference}} </cdk-cell>
          </ng-container>

          <!-- Article Column -->
          <ng-container cdkColumnDef="designation">
            <cdk-header-cell mat-sort-header class="example-header-cell" *cdkHeaderCellDef> Designation
            </cdk-header-cell>
            <cdk-cell *cdkCellDef="let element"> {{element.designation}} </cdk-cell>
          </ng-container>

          <!-- PU Column -->
          <ng-container cdkColumnDef="prixVente">
            <cdk-header-cell mat-sort-header [ngClass]="'w-60'" class="example-header-cell" *cdkHeaderCellDef> P.Vente
            </cdk-header-cell>
            <cdk-cell [ngClass]="'w-60'" *cdkCellDef="let element"> {{Nombre(element.prixVente)}} </cdk-cell>
          </ng-container>
          <!-- PU Column -->
          <ng-container cdkColumnDef="prixAchat">
            <cdk-header-cell mat-sort-header [ngClass]="'w-60'" class="example-header-cell" *cdkHeaderCellDef> P.Achat
            </cdk-header-cell>
            <cdk-cell [ngClass]="'w-60'" *cdkCellDef="let element"> {{Nombre(element.prixAchat)}} </cdk-cell>
          </ng-container>
          <!-- PU Column -->
          <ng-container cdkColumnDef="stockMin">
            <cdk-header-cell mat-sort-header [ngClass]="'w-60'" class="example-header-cell" *cdkHeaderCellDef> S.Min
            </cdk-header-cell>
            <cdk-cell [ngClass]="'w-60'" *cdkCellDef="let element"> {{Nombre(element.stockMin)}} </cdk-cell>
          </ng-container>

          <!-- PU Column -->
          <ng-container cdkColumnDef="quantite">
            <cdk-header-cell mat-sort-header [ngClass]="'w-60'" class="example-header-cell" *cdkHeaderCellDef> Qte
            </cdk-header-cell>
            <cdk-cell [ngClass]="'w-60'" *cdkCellDef="let element "> {{Nombre(element.quantite)}} </cdk-cell>
          </ng-container>
          <ng-container cdkColumnDef="Palette">
            <cdk-header-cell mat-sort-header [ngClass]="'w-60'" class="example-header-cell" *cdkHeaderCellDef> Palette
            </cdk-header-cell>
            <cdk-cell [ngClass]="'w-60'" *cdkCellDef="let element"> {{((element.quantite)/element.stockMin).toFixed(1)}}
            </cdk-cell>
          </ng-container>
          <!-- Total Column -->
          <ng-container cdkColumnDef="dateAjout">
            <cdk-header-cell mat-sort-header [ngClass]="'w-120'" class="example-header-cell" *cdkHeaderCellDef> Date
              d'Ajout </cdk-header-cell>
            <cdk-cell [ngClass]="'w-120'" *cdkCellDef="let element"> {{element.dateAjout}} </cdk-cell>
          </ng-container>

          <ng-container cdkColumnDef="actions">
            <cdk-header-cell [ngClass]="'w-120'" class="example-header-cell" *cdkHeaderCellDef fxLayout="row"
              fxLayoutAlign="space-between">
              <span>Modifier</span>
              <span>Supprimer</span>
            </cdk-header-cell>
            <cdk-cell [ngClass]="'w-120'" *cdkCellDef="let element" fxLayout="row" fxLayoutAlign="space-between">
              <button mat-icon-button style="color: orange;" (click)="openEditArticle(element)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button style="color: red;" (click)="openSupprimeArticle(element)">
                <mat-icon>delete</mat-icon>
              </button>
              <!-- (click)="openEdit(element)" -->
              <!-- (click)="openSupprimeArticle(element)" -->
            </cdk-cell>



          </ng-container>

          <ng-container cdkColumnDef="Supprimer">
            <cdk-header-cell [ngClass]="'w-120'" class="example-header-cell" *cdkHeaderCellDef> Supprimer
            </cdk-header-cell>
            <cdk-cell [ngClass]="'w-120'" *cdkCellDef="let element" fxLayout="column" fxLayoutAlign="center start">
              <button mat-icon-button style="color: #506169;">
                <mat-icon>delete</mat-icon>
              </button>
              <!-- (click)="openEdit(element)" -->
              <!-- (click)="openSupprimeArticle(element)" -->
            </cdk-cell>



          </ng-container>

          <cdk-header-row class="example-header-row" *cdkHeaderRowDef="Article_columns"></cdk-header-row>
          <cdk-row class="example-row" *cdkRowDef="let row; columns: Article_columns;" [ngStyle]="setColor(row)">
          </cdk-row>

        </cdk-table>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Vente du jour" fxLayout="column" fxLayoutAlign="end end">

    <mat-accordion>
      <mat-expansion-panel *ngFor="let vente of Tventes ; let j = index;">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>Vente N° {{j+1}} </span>
          </mat-panel-title>
          <mat-panel-description fxLayoutAlign="space-between center">
            <span>
              {{vente[0].date}} </span>
            <span>
              Total : {{Nombre(getTodayTotal(j))}}
            </span>
            <button (click)="openSupprimeTodayVente(j,vente)" mat-button>
              <mat-icon>delete</mat-icon>
            </button>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div style=" background-color:white ;
      height: 100%; width: 100%; border-radius: 5px; margin-top: 15px;" fxLayout="column" fxLayoutGap="15px"
          fxLayoutAlign="start center">

          <cdk-table [dataSource]="todayVente(j)" class="example-table">

            <!-- Position Column -->
            <ng-container cdkColumnDef="Qte">
              <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> Qte </cdk-header-cell>
              <cdk-cell *cdkCellDef="let element"> {{element.quantite}} </cdk-cell>

            </ng-container>

            <!-- Article Column -->
            <ng-container cdkColumnDef="Article">
              <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> Article </cdk-header-cell>
              <cdk-cell *cdkCellDef="let element"> {{getArticle(element.article).designation}} </cdk-cell>

            </ng-container>

            <!-- PU Column -->
            <ng-container cdkColumnDef="PU">
              <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> P.U </cdk-header-cell>
              <cdk-cell *cdkCellDef="let element">{{Nombre(element.prixUnit)}} </cdk-cell>

            </ng-container>

            <!-- Total Column -->
            <ng-container cdkColumnDef="Total">
              <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> Total </cdk-header-cell>
              <cdk-cell *cdkCellDef="let element">{{Nombre(element.quantite*element.prixUnit)}} </cdk-cell>

            </ng-container>

            <cdk-header-row class="example-header-row" *cdkHeaderRowDef="Vente"></cdk-header-row>
            <cdk-row class="example-row" *cdkRowDef="let row; columns: Vente;"></cdk-row>
          </cdk-table>

        </div>
      </mat-expansion-panel>

    </mat-accordion>
    <div>
      Chiffre d'affaire = {{getTodayTotalCA()}}
    </div>
  </mat-tab>
  <mat-tab label="Ventes">
  
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <mat-form-field>
      <input matInput type="date" [disabled]="disabled"  [(ngModel)]="startDate">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="date" [disabled]="disabled" [(ngModel)]="endDate">
    </mat-form-field>
    <button mat-icon-button [disabled]="disabled" (click)="FilterVentes()"><mat-icon>search</mat-icon></button>
    <button mat-icon-button (click)="Reset()"><mat-icon>close</mat-icon></button>
    
</div>
<!-- <div class="row ">
  <div class="col-sm-4 col-md-2" *ngFor="let jvente of JVentes ; let j = index;">
    <mat-card class="example-card">
      <mat-card-header  fxLayout="column" fxLayoutAlign="center center">
        <h5 style=" margin: 0 !important;"> {{getDate(jvente[0][0].date)}}</h5>
      </mat-card-header>
      <mat-card-content style="height: 50px;" class="item w-100 h-100">
        <button class="w-100" mat-button>
          <div>{{jvente.length}} : Ventes</div>
          <div>CA : {{Nombre(getJourTotal(j))}}</div>
          <div></div>

        </button>
      </mat-card-content>
    </mat-card>
  </div>
  </div> -->
  <mat-accordion>
    <mat-expansion-panel *ngFor="let jvente of JVentes  ; let j = index;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span>{{getDate(jvente[0][0].date)}} </span>
        </mat-panel-title>
        <mat-panel-description *ngIf="MDP =='55413494'" fxLayoutAlign="space-around center">
          <span style="width: 100px;">
            {{jvente.length}} : Ventes </span>
          <span style="width: 100px;">
            CA : {{Nombre(getJourTotal(j))}}
            <!-- Marge : {{Nombre(getJourMarge(j))}} -->
          </span>
          <span style="width: 100px;">
            M : {{Nombre(getJourMarge(j))}}
          </span>
        </mat-panel-description>
      </mat-expansion-panel-header>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let vente of jvente ; let j = index;">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span>Vente N° {{j+1}} </span>
              </mat-panel-title>
              <mat-panel-description fxLayoutAlign="space-around center">
                <span>
                  {{vente[0].date}} </span>
                <span>
                  Total : {{Nombre(getTotal(j))}}
                </span>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div style=" background-color:white ;
          height: 100%; width: 100%; border-radius: 5px; margin-top: 15px;" fxLayout="column" fxLayoutGap="15px"
              fxLayoutAlign="start center">
    
              <cdk-table [dataSource]="table(j)" class="example-table">
    
                <!-- Position Column -->
                <ng-container cdkColumnDef="Qte">
                  <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> Qte </cdk-header-cell>
                  <cdk-cell *cdkCellDef="let element"> {{element.quantite}} </cdk-cell>
    
                </ng-container>
    
                <!-- Article Column -->
                <ng-container cdkColumnDef="Article">
                  <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> Article </cdk-header-cell>
                  <cdk-cell *cdkCellDef="let element"> {{getArticle(element.article).designation}} </cdk-cell>
    
                </ng-container>
    
                <!-- PU Column -->
                <ng-container cdkColumnDef="PU">
                  <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> P.U </cdk-header-cell>
                  <cdk-cell *cdkCellDef="let element">{{Nombre(element.prixUnit)}} </cdk-cell>
    
                </ng-container>
    
                <!-- Total Column -->
                <ng-container cdkColumnDef="Total">
                  <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> Total </cdk-header-cell>
                  <cdk-cell *cdkCellDef="let element">{{Nombre(element.quantite*element.prixUnit)}} </cdk-cell>
    
                </ng-container>
    
                <cdk-header-row class="example-header-row" *cdkHeaderRowDef="Vente"></cdk-header-row>
                <cdk-row class="example-row" *cdkRowDef="let row; columns: Vente;"></cdk-row>
              </cdk-table>
    
            </div>
          </mat-expansion-panel>
    
        </mat-accordion>
    </mat-expansion-panel>

  </mat-accordion>
    <!-- <mat-accordion>
      <mat-expansion-panel *ngFor="let vente of ventes ; let j = index;">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>Vente N° {{j+1}} </span>
          </mat-panel-title>
          <mat-panel-description fxLayoutAlign="space-around center">
            <span>
              {{vente[0].date}} </span>
            <span>
              Total : {{Nombre(getTotal(j))}}
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div style=" background-color:white ;
      height: 100%; width: 100%; border-radius: 5px; margin-top: 15px;" fxLayout="column" fxLayoutGap="15px"
          fxLayoutAlign="start center">

          <cdk-table [dataSource]="table(j)" class="example-table">

            <ng-container cdkColumnDef="Qte">
              <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> Qte </cdk-header-cell>
              <cdk-cell *cdkCellDef="let element"> {{element.quantite}} </cdk-cell>

            </ng-container>

            <ng-container cdkColumnDef="Article">
              <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> Article </cdk-header-cell>
              <cdk-cell *cdkCellDef="let element"> {{getArticle(element.article).designation}} </cdk-cell>

            </ng-container>

            <ng-container cdkColumnDef="PU">
              <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> P.U </cdk-header-cell>
              <cdk-cell *cdkCellDef="let element">{{Nombre(element.prixUnit)}} </cdk-cell>

            </ng-container>

            <ng-container cdkColumnDef="Total">
              <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> Total </cdk-header-cell>
              <cdk-cell *cdkCellDef="let element">{{Nombre(element.quantite*element.prixUnit)}} </cdk-cell>

            </ng-container>

            <cdk-header-row class="example-header-row" *cdkHeaderRowDef="Vente"></cdk-header-row>
            <cdk-row class="example-row" *cdkRowDef="let row; columns: Vente;"></cdk-row>
          </cdk-table>

        </div>
      </mat-expansion-panel>

    </mat-accordion> -->
    <div fxLayout="row" fxLayoutAlign="space-between start" class="w-100">

    <mat-form-field>
      <input matInput type="password" [(ngModel)]="MDP">
    </mat-form-field>
      <div *ngIf="MDP =='55413494'" > Ventes :{{ventes.length}} </div>
      <div *ngIf="MDP =='55413494'" > CA : {{getTotalCA()}} </div>
      <div *ngIf="MDP =='55413494'" > Marge: {{getTotalMarge()}} </div>
    </div>
  </mat-tab>
  <mat-tab label="Historique" >

    <mat-accordion *ngIf="Historique=='stemk55413494'">
      <mat-expansion-panel *ngFor="let article of active_articles  ; let j = index;">
        <mat-expansion-panel-header [ngStyle]="SetColorHistorique(article,j)">
          <mat-panel-title fxLayout="row" fxLayoutGap="20px" style="width :30%">
            <p fxLayoutAlign="center">{{article.reference}} </p>
            <p>
              {{article.designation}} </p>
          </mat-panel-title>
          <mat-panel-description fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
              <p style="width: 100px;">Vente : {{getTotalArticleVendu(j)}}</p>
              <p style="width: 100px;">Entrée : {{getTotalArticleEntree(article.key)}}</p>
              <p style="width: 100px;">Sortie : {{getTotalArticleSorti(article.key)}}</p>  
              <p style="width: 100px;">Reste : {{getReste(article,j)}}</p>            
              <p style="width: 100px;">Stock : {{article.quantite}}</p>            

          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item *ngFor="let jvente of JVentes  ; let k = index;">
            <span fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
              <p style="width: 100px;">{{getDate(jvente[0][0].date)}}</p>
              <p style="width: 100px;">Vente : {{getArticleVendu(j,k)}}</p>
              <p style="width: 100px;">Entrée : {{getArticleEntree(article.key,k)}}</p>
              <p style="width: 100px;">Sortie : {{getArticleSorti(article.key,k)}}</p>
              <mat-divider></mat-divider>
            </span>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
  
    </mat-accordion>
    <mat-form-field>
      <input matInput type="password" [(ngModel)]="Historique">
    </mat-form-field>
  </mat-tab>
</mat-tab-group>
<style>
  cdk-row,
  cdk-header-row,
  cdk-footer-row {
    display: flex;
  }

  cdk-cell,
  cdk-header-cell,
  cdk-footer-cell {
    flex: 1;
  }

  .example-row {
    height: 40px;
  }

  .item {
    position: relative;
    padding-top: 5px;
    display: inline-block;
  }

  .notify-badge {
    position: absolute;
    right: 40%;
    margin-top: -20px;
    top: 10px;
    background: #3f51b5;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: white;
    padding: 0px 15px;
  }

  .notify-badge1 {
    position: absolute;
    right: 30%;
    margin-top: -20px;
    top: 10px;
    background: #3f51b5;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: white;
    padding: 0px 15px;
  }

  .w-50 {
    max-width: 50px;
  }

  .w-75 {
    max-width: 75px;
  }

  .w-40 {
    max-width: 40px;
  }

  .w-120 {
    max-width: 120px;
  }

  .w-60 {
    max-width: 60px;
  }
</style>