<mat-tab-group [backgroundColor]="'primary'">
  <!-- Caisse -->
  <mat-tab label="Caisse">
    <div class="container-fluid w-100 h-100" style=" background-color:#757575 ;">
      <div class="main" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
        <div class="row ">
          <div class="col-sm-4 col-md-2" *ngFor="let article of Articles">
            <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title>{{article.designation}}</mat-card-title>
              </mat-card-header>

              <mat-card-content>
                <button mat-button (click)="openCalculatrice(article)">
                  <img mat-card-image src="../assets/images/Safia 1,5L.jpg" alt="Photo of a Shiba Inu"
                    style="margin-top: 0;">
                </button>
              </mat-card-content>
              <mat-card-actions class="justify-content-center">
                {{article.prixVente}}
              </mat-card-actions>

            </mat-card>

          </div>

        </div>
        <!-- width:100%; -->
        <div style=" background-color:white ;" fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="start center ">

          <cdk-table [dataSource]="dataSource" class="example-table">
            <!-- Position Column -->
            <ng-container cdkColumnDef="N">
              <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> N° </cdk-header-cell>
              <cdk-cell *cdkCellDef="let element"> {{element.N}} </cdk-cell>
            </ng-container>

            <!-- Article Column -->
            <ng-container cdkColumnDef="Article">
              <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> Article </cdk-header-cell>
              <cdk-cell *cdkCellDef="let element"> {{element.Article}} </cdk-cell>
            </ng-container>

            <!-- PU Column -->
            <ng-container cdkColumnDef="PU">
              <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> P.U </cdk-header-cell>
              <cdk-cell *cdkCellDef="let element"> {{element.PU}} </cdk-cell>
            </ng-container>

            <!-- Total Column -->
            <ng-container cdkColumnDef="Total">
              <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> Total </cdk-header-cell>
              <cdk-cell *cdkCellDef="let element"> {{element.Total}} </cdk-cell>
            </ng-container>

            <cdk-header-row class="example-header-row" *cdkHeaderRowDef="Article_Caisse"></cdk-header-row>
            <cdk-row class="example-row" *cdkRowDef="let row; columns: Article_Caisse;"></cdk-row>
          </cdk-table>

          <div fxLayout="row" fxLayoutGap="100px" fxLayoutAlign="space-around start">
            <button mat-raised-button (click)="annuler()" class="operation">Annuler</button>
            <button mat-raised-button color="primary" (click)="passer()" class="operation">Passer</button>
          </div>


        </div>
      </div>
    </div>
  </mat-tab>
  <!-- Stock -->
  <mat-tab label="Stock">
    <div class="container-fluid w-100 h-100">
      <div class="w-100" fxLayout="column" fxLayoutAlign="space-around start">

        <div class="actions w-100" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px"
          style="margin-top: 10px;">
          <!-- <div>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput autocomplete="off"(keyup)="filtrerStock($event.target.value)" placeholder="Filtrer">
            </mat-form-field>
          </div> -->
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Type d'opération</mat-label>
            <mat-select [formControl]="operation" name="operation" required>
              <mat-option [value]="'Entrée'">
                Entrée
              </mat-option>
              <mat-option [value]="'Sortie'">
                Sortie
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ operation.value ==="Entrée" ? 'Fournisseur' : 'Client'}}</mat-label>
            <mat-select [formControl]="acteur" name="acteur" required>
              <mat-option [value]="'Taher'">
                Taher
              </mat-option>
              <mat-option [value]="'Gaddour'">
                Gaddour
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Article</mat-label>
            <mat-select [formControl]="article" name="famille" required>
              <mat-option *ngFor="let article of Articles" [value]="article.key">
                {{article.designation}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Quantité</mat-label>
            <input type="number" autocomplete="off" matInput placeholder="Quantité" [formControl]="quantite">
          </mat-form-field>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Date</mat-label>
            <input type="date" matInput required [formControl]="date">
          </mat-form-field>
          <!-- (click)="openCingredient()"  -->
          <div style="cursor:pointer;" fxLayout="row" fxLayoutAlign="center" (click)="AjoutMouvement()">
            <mat-icon color="primary" style="font-size: 21px;">add_to_photos</mat-icon>
            <span style="color: #3f51b5;" [fxHide.xs]="true">Ajouter</span>
          </div>
          <!-- <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px" [ngStyle.xs]="{'padding.px': 10}">
     
         
        </div> -->
        </div>
      </div>
      <div class="example-container">
        <cdk-table [dataSource]="mouvements" class="example-table"
          class="mat-elevation-z8 table table-responsive-md table-striped ">
          <!-- Position Column -->
          <ng-container cdkColumnDef="reference">
            <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> Reference </cdk-header-cell>
            <cdk-cell *cdkCellDef="let element"> {{getArticle(element.article).reference}} </cdk-cell>
          </ng-container>

          <!-- Article Column -->
          <ng-container cdkColumnDef="designation">
            <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> Designation </cdk-header-cell>
            <cdk-cell *cdkCellDef="let element"> {{getArticle(element.article).designation}} </cdk-cell>
          </ng-container>


          <!-- PU Column -->
          <ng-container cdkColumnDef="date">
            <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> Date </cdk-header-cell>
            <cdk-cell *cdkCellDef="let element"> {{element.date}} </cdk-cell>
          </ng-container>
          <!-- PU Column -->
          <ng-container cdkColumnDef="operation">
            <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> Operation </cdk-header-cell>
            <cdk-cell *cdkCellDef="let element"> {{element.operation}} </cdk-cell>
          </ng-container>
          <!-- PU Column -->
          <ng-container cdkColumnDef="acteur">
            <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> Acteur </cdk-header-cell>
            <cdk-cell *cdkCellDef="let element"> {{element.acteur}} </cdk-cell>
          </ng-container>
          <!-- PU Column -->
          <ng-container cdkColumnDef="quantité">
            <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> Quantité </cdk-header-cell>
            <cdk-cell *cdkCellDef="let element"> {{element.quantite}} </cdk-cell>
          </ng-container>
          <!-- PU Column -->
          <ng-container cdkColumnDef="prix">
            <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> Prix </cdk-header-cell>
            <cdk-cell *cdkCellDef="let element"> {{Nombre(element.prix)}} </cdk-cell>
          </ng-container>
          <!-- Total Column -->
          <ng-container cdkColumnDef="valeur">
            <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> Valeur </cdk-header-cell>
            <cdk-cell *cdkCellDef="let element"> {{Nombre(element.prix*element.quantite)}} </cdk-cell>
          </ng-container>

          <ng-container cdkColumnDef="actions">
            <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef fxLayout="row" fxLayoutAlign="space-between">
              <span>Modifier</span>
              <span>Supprimer</span>
            </cdk-header-cell>
            <cdk-cell *cdkCellDef="let element" fxLayout="row" fxLayoutAlign="space-between">
              <button mat-icon-button style="color: orange;">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button style="color: red;" (click)="openSupprimeArticle()">
                <mat-icon>delete</mat-icon>
              </button>
              <!-- (click)="openEdit(element)" -->
              <!-- (click)="openSupprimeArticle(element)" -->
            </cdk-cell>



          </ng-container>

          <ng-container cdkColumnDef="Supprimer">
            <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> Supprimer </cdk-header-cell>
            <cdk-cell *cdkCellDef="let element" fxLayout="column" fxLayoutAlign="center start">
              <button mat-icon-button style="color: #506169;">
                <mat-icon>delete</mat-icon>
              </button>
              <!-- (click)="openEdit(element)" -->
              <!-- (click)="openSupprimeArticle(element)" -->
            </cdk-cell>



          </ng-container>

          <cdk-header-row class="example-header-row" *cdkHeaderRowDef="Stock_columns"></cdk-header-row>
          <cdk-row class="example-row" *cdkRowDef="let row; columns: Stock_columns;"></cdk-row>

        </cdk-table>
      </div>
    </div>
  </mat-tab>

  <!-- Articles -->
  <mat-tab label="Articles">
    <div class="container-fluid w-100 h-100">
      <div class="w-100" fxLayout="column" fxLayoutAlign="space-around start">

        <div class="actions w-100" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">

          <mat-form-field appearance="outline" class="w-100">
            <input matInput autocomplete="off" (keyup)="FiltrerArticles($event.target.value)" placeholder="Filtrer">
          </mat-form-field>

          <div style="cursor:pointer;" fxLayout="row" fxLayoutAlign="center" (click)="openAjoutArticle()">

            <mat-icon color="primary" style="font-size: 21px;">add_to_photos</mat-icon>
            <span style="color: #3f51b5;" [fxHide.xs]="true">Ajouter</span>
          </div>
        </div>
      </div>

      <!-- Tableaux d'Articles -->
      <div class="example-container">
        <cdk-table [dataSource]="articles" class="example-table"
          class="mat-elevation-z8 table table-responsive-md table-striped ">
          <!-- Position Column -->
          <ng-container cdkColumnDef="reference">
            <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> Reference </cdk-header-cell>
            <cdk-cell *cdkCellDef="let element"> {{element.reference}} </cdk-cell>
          </ng-container>

          <!-- Article Column -->
          <ng-container cdkColumnDef="designation">
            <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> Designation </cdk-header-cell>
            <cdk-cell *cdkCellDef="let element"> {{element.designation}} </cdk-cell>
          </ng-container>

          <!-- PU Column -->
          <ng-container cdkColumnDef="prixVente">
            <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> Prix de vente </cdk-header-cell>
            <cdk-cell *cdkCellDef="let element"> {{element.prixVente}} </cdk-cell>
          </ng-container>
          <!-- PU Column -->
          <ng-container cdkColumnDef="prixAchat">
            <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> Prix d'achat </cdk-header-cell>
            <cdk-cell *cdkCellDef="let element"> {{element.prixAchat}} </cdk-cell>
          </ng-container>
          <!-- PU Column -->
          <ng-container cdkColumnDef="stockMin">
            <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> Stock Minimal </cdk-header-cell>
            <cdk-cell *cdkCellDef="let element"> {{element.stockMin}} </cdk-cell>
          </ng-container>
          <!-- PU Column -->
          <ng-container cdkColumnDef="stockInit">
            <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> Quantite </cdk-header-cell>
            <cdk-cell *cdkCellDef="let element"> {{element.quantite}} </cdk-cell>
          </ng-container>
          <!-- Total Column -->
          <ng-container cdkColumnDef="dateAjout">
            <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> Date d'Ajout </cdk-header-cell>
            <cdk-cell *cdkCellDef="let element"> {{element.dateAjout}} </cdk-cell>
          </ng-container>

          <ng-container cdkColumnDef="actions">
            <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef fxLayout="row" fxLayoutAlign="space-between">
              <span>Modifier</span>
              <span>Supprimer</span>
            </cdk-header-cell>
            <cdk-cell *cdkCellDef="let element" fxLayout="row" fxLayoutAlign="space-between">
              <button mat-icon-button style="color: orange;" (click)="openEditArticle(element)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button style="color: red;" (click)="openSupprimeArticle(element)">
                <mat-icon>delete</mat-icon>
              </button>
              <!-- (click)="openEdit(element)" -->
              <!-- (click)="openSupprimeArticle(element)" -->
            </cdk-cell>



          </ng-container>

          <ng-container cdkColumnDef="Supprimer">
            <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> Supprimer </cdk-header-cell>
            <cdk-cell *cdkCellDef="let element" fxLayout="column" fxLayoutAlign="center start">
              <button mat-icon-button style="color: #506169;">
                <mat-icon>delete</mat-icon>
              </button>
              <!-- (click)="openEdit(element)" -->
              <!-- (click)="openSupprimeArticle(element)" -->
            </cdk-cell>



          </ng-container>

          <cdk-header-row class="example-header-row" *cdkHeaderRowDef="Article_columns"></cdk-header-row>
          <cdk-row class="example-row" *cdkRowDef="let row; columns: Article_columns;"></cdk-row>

        </cdk-table>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Vente du jour">Content 3</mat-tab>
  <mat-tab label="Entrée Sortie Taher">Content 3</mat-tab>
</mat-tab-group>
<style>
  cdk-row,
  cdk-header-row,
  cdk-footer-row {
    display: flex;
  }

  cdk-cell,
  cdk-header-cell,
  cdk-footer-cell {
    flex: 1;
  }

  .example-row {
    height: 40px;
  }
</style>