<mat-tab-group [backgroundColor]="'primary'" class="h-100">
  <!-- Caisse -->
  <mat-tab label="Caisse" class="h-100">
    <div class="container-fluid w-100 h-100" style=" background-color:#757575 ;">
      <div class="main row" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around start"
        style=" background-color:#757575 ;">
        <!-- Liste des Articles -->
        <div class="col-sm-4 col-md-8 row " style=" background-color:#757575 ;">
          <div class="col-sm-4 col-md-3 article" *ngFor="let article of active_articles">
            <mat-card class="example-card">
              <mat-card-header style="height: 50px;">
                <p style=" margin: 0 !important;"> {{article.designation}}</p>
                <span class="notify-badge">{{article.prixVente}}</span>
              </mat-card-header>
              <mat-card-content class="item">
                <button mat-button (click)="openCalculatrice(article)">
                  <img mat-card-image [src]="article.image==''?'./assets/images/Bouteille.png':article.image"
                    style="margin-top: 0;" height="100px">
                </button>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <!-- Tableau de Caisse -->
        <div class="col-md-4" style=" background-color:white ;
        height: 100%;  border-radius: 5px; margin-top: 15px;" fxLayout="column" fxLayoutGap="15px"
          fxLayoutAlign="start center">

          <cdk-table [dataSource]="dataSource" class="example-table">
            <ng-container cdkColumnDef="action">
              <cdk-header-cell [ngClass]="'w-40'" class="example-header-cell" *cdkHeaderCellDef> </cdk-header-cell>
              <cdk-cell [ngClass]="'w-40'" *cdkCellDef="let element ;  let j = index;">
                <mat-icon aria-hidden="false" (click)="supprimer(j)">clear</mat-icon>
              </cdk-cell>
              <cdk-footer-cell [ngClass]="'w-40'" *cdkFooterCellDef>Total</cdk-footer-cell>
            </ng-container>
            <!-- Article Column -->
            <ng-container cdkColumnDef="Article">
              <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> Article </cdk-header-cell>
              <cdk-cell *cdkCellDef="let element"> {{getArticle(element.article).designation}} </cdk-cell>
              <cdk-footer-cell *cdkFooterCellDef></cdk-footer-cell>

            </ng-container>
            <!-- Position Column -->
            <ng-container cdkColumnDef="Qte">
              <cdk-header-cell [ngClass]="'w-40'" class="example-header-cell" *cdkHeaderCellDef> Qte </cdk-header-cell>
              <cdk-cell [ngClass]="'w-40'" *cdkCellDef="let element"> {{element.quantite}} </cdk-cell>
              <cdk-footer-cell [ngClass]="'w-40'" *cdkFooterCellDef></cdk-footer-cell>

            </ng-container>

            <!-- PU Column -->
            <ng-container cdkColumnDef="PU">
              <cdk-header-cell [ngClass]="'w-50'" class="example-header-cell" *cdkHeaderCellDef> P.U </cdk-header-cell>
              <cdk-cell [ngClass]="'w-50'" *cdkCellDef="let element">{{Nombre(element.prixUnit)}} </cdk-cell>
              <cdk-footer-cell [ngClass]="'w-50'" *cdkFooterCellDef></cdk-footer-cell>

            </ng-container>

            <!-- Total Column -->
            <ng-container cdkColumnDef="Total">
              <cdk-header-cell  [ngClass]="'w-75'"class="example-header-cell" *cdkHeaderCellDef> Total </cdk-header-cell>
              <cdk-cell [ngClass]="'w-75'" *cdkCellDef="let element">{{Nombre(element.quantite*element.prixUnit)}} </cdk-cell>
              <cdk-footer-cell [ngClass]="'w-75'" *cdkFooterCellDef>{{Nombre(getTotalprix())}}</cdk-footer-cell>

            </ng-container>

            <cdk-header-row class="example-header-row" *cdkHeaderRowDef="Article_Caisse"></cdk-header-row>
            <cdk-row class="example-row" *cdkRowDef="let row; columns: Article_Caisse;"></cdk-row>
            <cdk-footer-row *cdkFooterRowDef="Article_Caisse"></cdk-footer-row>
          </cdk-table>

          <div class="w-100" style="padding: 10px !important;" fxLayout="row" fxLayoutAlign="space-between start">
            <button mat-raised-button (click)="annuler()" class="operation" [disabled]="loading">Annuler</button>
            <button mat-raised-button color="primary" (click)="passer()" class="operation" [disabled]="loading">
              {{loading?'Loading..':'Passer'}}</button>
          </div>


        </div>
      </div>
    </div>
  </mat-tab>
  <!-- Mouvements -->
  <mat-tab label="Mouvements">
    <div class="container-fluid w-100 h-100">
      <div class="w-100" fxLayout="column" fxLayoutAlign="space-around start">
        <!-- Champs Mouvements -->
        <div class="actions w-100" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center"
          fxLayoutGap="10px" style="margin-top: 10px;">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Type d'opération</mat-label>
            <mat-select [(ngModel)]="mouvement.operation" name="operation" required>
              <mat-option [value]="'Entrée'">
                Entrée
              </mat-option>
              <mat-option [value]="'Sortie'">
                Sortie
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ operation.value ==="Entrée" ? 'Fournisseur' : 'Client'}}</mat-label>
            <mat-select [(ngModel)]="mouvement.acteur" name="acteur" required>
              <mat-option [value]="'Taher'">
                Taher
              </mat-option>
              <mat-option [value]="'Gaddour'">
                Gaddour
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Article</mat-label>
            <mat-select [(ngModel)]="mouvement.article" name="famille" required>
              <mat-option *ngFor="let article of active_articles" [value]="article.key">
                {{article.designation}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Quantité</mat-label>
            <input type="number" autocomplete="off" matInput placeholder="Quantité" [(ngModel)]="mouvement.quantite">
          </mat-form-field>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Date</mat-label>
            <input type="date" matInput required [(ngModel)]="mouvement.date">
          </mat-form-field>
          <!-- (click)="openCingredient()"  -->
          <div style="cursor:pointer;" fxLayout="row" fxLayoutAlign="center" (click)="AjoutMouvement()">
            <mat-icon color="primary" style="font-size: 21px;">add_to_photos</mat-icon>
            <span style="color: #3f51b5;" [fxHide.xs]="true">Ajouter</span>
          </div>
          <!-- <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px" [ngStyle.xs]="{'padding.px': 10}">
     
         
        </div> -->
        </div>
        <div style="width: 100%;">
          <mat-form-field appearance="outline" class="w-100">
            <input matInput autocomplete="off" (keyup)="FiltrerMouvement($event.target.value)" placeholder="Filtrer">
          </mat-form-field>
        </div>
      </div>
      <!-- Tableau de Mouvements -->
      <div class="example-container">
        <cdk-table [dataSource]="mouvements" class="example-table"
          class="mat-elevation-z8 table table-responsive-md table-striped " matSort>
          <!-- Position Column -->
          <ng-container cdkColumnDef="reference">
            <cdk-header-cell [ngClass]="'w-40'" class="example-header-cell" fxShow fxHide.lt-sm *cdkHeaderCellDef> Ref
            </cdk-header-cell>
            <cdk-cell [ngClass]="'w-40'" fxShow fxHide.lt-sm *cdkCellDef="let element"> {{getArticle(element.article).reference}}
            </cdk-cell>
          </ng-container>

          <!-- Article Column -->
          <ng-container cdkColumnDef="designation">
            <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef mat-sort-header> Designation
            </cdk-header-cell>
            <cdk-cell *cdkCellDef="let element"> {{getArticle(element.article).designation}} </cdk-cell>
          </ng-container>


          <!-- PU Column -->
          <ng-container cdkColumnDef="date">
            <cdk-header-cell [ngClass]="'w-120'" class="example-header-cell" fxShow fxHide.lt-sm *cdkHeaderCellDef> Date </cdk-header-cell>
            <cdk-cell [ngClass]="'w-120'" fxShow fxHide.lt-sm *cdkCellDef="let element"> {{element.date}} </cdk-cell>
          </ng-container>
          <!-- PU Column -->
          <ng-container cdkColumnDef="operation">
            <cdk-header-cell [ngClass]="'w-120'" class="example-header-cell" *cdkHeaderCellDef> Operation </cdk-header-cell>
            <cdk-cell [ngClass]="'w-120'" *cdkCellDef="let element"> {{element.operation}} </cdk-cell>
          </ng-container>
          <!-- PU Column -->
          <ng-container cdkColumnDef="acteur">
            <cdk-header-cell [ngClass]="'w-120'" class="example-header-cell" *cdkHeaderCellDef> Acteur </cdk-header-cell>
            <cdk-cell [ngClass]="'w-120'" *cdkCellDef="let element"> {{element.acteur}} </cdk-cell>
          </ng-container>
          <!-- PU Column -->
          <ng-container cdkColumnDef="quantité">
            <cdk-header-cell [ngClass]="'w-120'" class="example-header-cell" *cdkHeaderCellDef> Quantité </cdk-header-cell>
            <cdk-cell [ngClass]="'w-120'" *cdkCellDef="let element"> {{element.quantite}} </cdk-cell>
          </ng-container>
          <!-- PU Column -->
          <ng-container cdkColumnDef="prix">
            <cdk-header-cell [ngClass]="'w-120'" class="example-header-cell" *cdkHeaderCellDef> Prix </cdk-header-cell>
            <cdk-cell [ngClass]="'w-120'" *cdkCellDef="let element"> {{Nombre(element.prix)}} </cdk-cell>
          </ng-container>
          <!-- Total Column -->
          <ng-container cdkColumnDef="valeur">
            <cdk-header-cell [ngClass]="'w-120'" class="example-header-cell" fxShow fxHide.lt-sm *cdkHeaderCellDef> Valeur
            </cdk-header-cell>
            <cdk-cell [ngClass]="'w-120'" fxShow fxHide.lt-sm *cdkCellDef="let element"> {{Nombre(element.prix*element.quantite)}}
            </cdk-cell>
          </ng-container>

          <ng-container cdkColumnDef="actions">
            <cdk-header-cell [ngClass]="'w-120'" fxShow fxHide.lt-sm class="example-header-cell" *cdkHeaderCellDef fxLayout="row"
              fxLayoutAlign="space-between">

              <span>Supprimer</span>
            </cdk-header-cell>
            <cdk-cell [ngClass]="'w-120'" fxShow fxHide.lt-sm *cdkCellDef="let element" fxLayout="row" fxLayoutAlign="space-between">
              <button mat-icon-button style="color: red;" (click)="openSupprimeMouvement(element)">
                <mat-icon>delete</mat-icon>
              </button>
              <!-- (click)="openEdit(element)" -->
              <!-- (click)="openSupprimeArticle(element)" -->
            </cdk-cell>



          </ng-container>

          <ng-container cdkColumnDef="Supprimer">
            <cdk-header-cell  [ngClass]="'w-120'" class="example-header-cell" *cdkHeaderCellDef> Supprimer </cdk-header-cell>
            <cdk-cell *cdkCellDef="let element" fxLayout="column" fxLayoutAlign="center start">
              <button [ngClass]="'w-120'" mat-icon-button style="color: #506169;">
                <mat-icon>delete</mat-icon>
              </button>
              <!-- (click)="openEdit(element)" -->
              <!-- (click)="openSupprimeArticle(element)" -->
            </cdk-cell>



          </ng-container>

          <cdk-header-row class="example-header-row" *cdkHeaderRowDef="Stock_columns"></cdk-header-row>
          <cdk-row class="example-row" *cdkRowDef="let row; columns: Stock_columns;"></cdk-row>

        </cdk-table>
      </div>
    </div>
  </mat-tab>

  <!-- Articles -->
  <mat-tab label="Articles">
    <div class="container-fluid w-100 h-100">
      <!-- Champs Articles -->
      <div class="w-100" fxLayout="column" fxLayoutAlign="space-around start">

        <div class="actions w-100" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">

          <mat-form-field appearance="outline" class="w-100">
            <input matInput autocomplete="off" (keyup)="FiltrerArticles($event.target.value)" placeholder="Filtrer">
          </mat-form-field>

          <div style="cursor:pointer;" fxLayout="row" fxLayoutAlign="center" (click)="openAjoutArticle()">

            <mat-icon color="primary" style="font-size: 21px;">add_to_photos</mat-icon>
            <span style="color: #3f51b5;" [fxHide.xs]="true">Ajouter</span>
          </div>
        </div>
      </div>
      <!-- Tableaux d'Articles -->
      <div class="example-container">
        <cdk-table [dataSource]="articles" class="example-table"
          class="mat-elevation-z8 table table-responsive-md table-striped ">
          <!-- Position Column -->
          <ng-container cdkColumnDef="reference">
            <cdk-header-cell [ngClass]="'w-50'" class="example-header-cell" *cdkHeaderCellDef> Ref </cdk-header-cell>
            <cdk-cell [ngClass]="'w-50'" *cdkCellDef="let element"> {{element.reference}} </cdk-cell>
          </ng-container>

          <!-- Article Column -->
          <ng-container cdkColumnDef="designation">
            <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> Designation </cdk-header-cell>
            <cdk-cell *cdkCellDef="let element"> {{element.designation}} </cdk-cell>
          </ng-container>

          <!-- PU Column -->
          <ng-container cdkColumnDef="prixVente">
            <cdk-header-cell [ngClass]="'w-120'" class="example-header-cell" *cdkHeaderCellDef> Prix de vente </cdk-header-cell>
            <cdk-cell [ngClass]="'w-120'" *cdkCellDef="let element"> {{Nombre(element.prixVente)}} </cdk-cell>
          </ng-container>
          <!-- PU Column -->
          <ng-container cdkColumnDef="prixAchat">
            <cdk-header-cell [ngClass]="'w-120'" class="example-header-cell" *cdkHeaderCellDef> Prix d'achat </cdk-header-cell>
            <cdk-cell [ngClass]="'w-120'" *cdkCellDef="let element"> {{Nombre(element.prixAchat)}} </cdk-cell>
          </ng-container>
          <!-- PU Column -->
          <ng-container cdkColumnDef="stockMin">
            <cdk-header-cell [ngClass]="'w-120'" class="example-header-cell" *cdkHeaderCellDef> Stock Minimal </cdk-header-cell>
            <cdk-cell [ngClass]="'w-120'" *cdkCellDef="let element"> {{element.stockMin}} </cdk-cell>
          </ng-container>

          <!-- PU Column -->
          <ng-container cdkColumnDef="stockInit">
            <cdk-header-cell [ngClass]="'w-120'" class="example-header-cell" *cdkHeaderCellDef> Quantite </cdk-header-cell>
            <cdk-cell [ngClass]="'w-120'" *cdkCellDef="let element "> {{element.quantite}} </cdk-cell>
          </ng-container>
          <ng-container cdkColumnDef="Palette">
            <cdk-header-cell [ngClass]="'w-120'"  class="example-header-cell" *cdkHeaderCellDef> Palette </cdk-header-cell>
            <cdk-cell [ngClass]="'w-120'" *cdkCellDef="let element"> {{((element.quantite)/element.stockMin).toFixed(1)}} </cdk-cell>
          </ng-container>
          <!-- Total Column -->
          <ng-container cdkColumnDef="dateAjout">
            <cdk-header-cell [ngClass]="'w-120'" class="example-header-cell" *cdkHeaderCellDef> Date d'Ajout </cdk-header-cell>
            <cdk-cell [ngClass]="'w-120'" *cdkCellDef="let element"> {{element.dateAjout}} </cdk-cell>
          </ng-container>

          <ng-container cdkColumnDef="actions">
            <cdk-header-cell [ngClass]="'w-120'" class="example-header-cell" *cdkHeaderCellDef fxLayout="row" fxLayoutAlign="space-between">
              <span>Modifier</span>
              <span>Supprimer</span>
            </cdk-header-cell>
            <cdk-cell [ngClass]="'w-120'" *cdkCellDef="let element" fxLayout="row" fxLayoutAlign="space-between">
              <button mat-icon-button style="color: orange;" (click)="openEditArticle(element)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button style="color: red;" (click)="openSupprimeArticle(element)">
                <mat-icon>delete</mat-icon>
              </button>
              <!-- (click)="openEdit(element)" -->
              <!-- (click)="openSupprimeArticle(element)" -->
            </cdk-cell>



          </ng-container>

          <ng-container cdkColumnDef="Supprimer">
            <cdk-header-cell  [ngClass]="'w-120'"class="example-header-cell" *cdkHeaderCellDef> Supprimer </cdk-header-cell>
            <cdk-cell  [ngClass]="'w-120'" *cdkCellDef="let element" fxLayout="column" fxLayoutAlign="center start">
              <button mat-icon-button style="color: #506169;">
                <mat-icon>delete</mat-icon>
              </button>
              <!-- (click)="openEdit(element)" -->
              <!-- (click)="openSupprimeArticle(element)" -->
            </cdk-cell>



          </ng-container>

          <cdk-header-row class="example-header-row" *cdkHeaderRowDef="Article_columns"></cdk-header-row>
          <cdk-row class="example-row" *cdkRowDef="let row; columns: Article_columns;" [ngStyle]="setColor(row)">
          </cdk-row>

        </cdk-table>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Vente du jour" fxLayout="column" fxLayoutAlign="end end">

    <mat-accordion>
      <mat-expansion-panel *ngFor="let vente of ventes ; let j = index;">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>Vente N° {{j+1}} </span>
          </mat-panel-title>
          <mat-panel-description fxLayoutAlign="space-between center">
            <span>
              {{vente[0].date}} </span>
            <span>
              Total : {{Nombre(getTotal(j))}}
            </span>
            <button (click)="openSupprimeVente(j , vente)" mat-button>
              <mat-icon>delete</mat-icon>
            </button>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div style=" background-color:white ;
      height: 100%; width: 100%; border-radius: 5px; margin-top: 15px;" fxLayout="column" fxLayoutGap="15px"
          fxLayoutAlign="start center">

          <cdk-table [dataSource]="table(j)" class="example-table">

            <!-- Position Column -->
            <ng-container cdkColumnDef="Qte">
              <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> Qte </cdk-header-cell>
              <cdk-cell *cdkCellDef="let element"> {{element.quantite}} </cdk-cell>

            </ng-container>

            <!-- Article Column -->
            <ng-container cdkColumnDef="Article">
              <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> Article </cdk-header-cell>
              <cdk-cell *cdkCellDef="let element"> {{getArticle(element.article).designation}} </cdk-cell>

            </ng-container>

            <!-- PU Column -->
            <ng-container cdkColumnDef="PU">
              <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> P.U </cdk-header-cell>
              <cdk-cell *cdkCellDef="let element">{{Nombre(element.prixUnit)}} </cdk-cell>

            </ng-container>

            <!-- Total Column -->
            <ng-container cdkColumnDef="Total">
              <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> Total </cdk-header-cell>
              <cdk-cell *cdkCellDef="let element">{{Nombre(element.quantite*element.prixUnit)}} </cdk-cell>

            </ng-container>

            <cdk-header-row class="example-header-row" *cdkHeaderRowDef="Vente"></cdk-header-row>
            <cdk-row class="example-row" *cdkRowDef="let row; columns: Vente;"></cdk-row>
          </cdk-table>

        </div>
      </mat-expansion-panel>

    </mat-accordion>
    <div>
      Chiffre d'affaire = {{getTotalCA()}}
    </div>
  </mat-tab>
  <mat-tab label="Ventes">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let vente of ventes ; let j = index;">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>Vente N° {{j+1}} </span>
          </mat-panel-title>
          <mat-panel-description fxLayoutAlign="space-around center">
            <span>
              {{vente[0].date}} </span>
            <span>
              Total : {{Nombre(getTotal(j))}}
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div style=" background-color:white ;
      height: 100%; width: 100%; border-radius: 5px; margin-top: 15px;" fxLayout="column" fxLayoutGap="15px"
          fxLayoutAlign="start center">

          <cdk-table [dataSource]="table(j)" class="example-table">

            <!-- Position Column -->
            <ng-container cdkColumnDef="Qte">
              <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> Qte </cdk-header-cell>
              <cdk-cell *cdkCellDef="let element"> {{element.quantite}} </cdk-cell>

            </ng-container>

            <!-- Article Column -->
            <ng-container cdkColumnDef="Article">
              <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> Article </cdk-header-cell>
              <cdk-cell *cdkCellDef="let element"> {{getArticle(element.article).designation}} </cdk-cell>

            </ng-container>

            <!-- PU Column -->
            <ng-container cdkColumnDef="PU">
              <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> P.U </cdk-header-cell>
              <cdk-cell *cdkCellDef="let element">{{Nombre(element.prixUnit)}} </cdk-cell>

            </ng-container>

            <!-- Total Column -->
            <ng-container cdkColumnDef="Total">
              <cdk-header-cell class="example-header-cell" *cdkHeaderCellDef> Total </cdk-header-cell>
              <cdk-cell *cdkCellDef="let element">{{Nombre(element.quantite*element.prixUnit)}} </cdk-cell>

            </ng-container>

            <cdk-header-row class="example-header-row" *cdkHeaderRowDef="Vente"></cdk-header-row>
            <cdk-row class="example-row" *cdkRowDef="let row; columns: Vente;"></cdk-row>
          </cdk-table>

        </div>
      </mat-expansion-panel>

    </mat-accordion>
  </mat-tab>
  <mat-tab label=" " disabled>Content 3</mat-tab>
</mat-tab-group>
<style>
  cdk-row,
  cdk-header-row,
  cdk-footer-row {
    display: flex;
  }

  cdk-cell,
  cdk-header-cell,
  cdk-footer-cell {
    flex: 1;
  }

  .example-row {
    height: 40px;
  }

  .item {
    position: relative;
    padding-top: 5px;
    display: inline-block;
  }

  .notify-badge {
    position: absolute;
    right: 25%;
    margin-top: -20px;
    top: 10px;
    background: #3f51b5;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: white;
    padding: 0px 15px;
  }

  .w-50 {
    max-width: 50px;
  }
  .w-75 {
    max-width: 75px;
  }
  .w-40 {
    max-width: 40px;
  }
  .w-120 {
    max-width: 120px;
  }
</style>