<!-- (keyup)="onTouche($event)"  -->
<div style="height: 100%;">
<div fxLayout="row" fxLayoutAlign="space-between start">
    <h1 mat-dialog-title>

        <span>{{article.designation}}</span> 
       
  </h1>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>

</div>
<div fxLayout="row" fxLayoutAlign="space-around start" style="height: 100px">

<h1 mat-dialog-title >

    <mat-form-field appearance="outline">
        <mat-label>Quantité</mat-label>
        <input  type="number"  matInput autocomplete="off" [(ngModel)]="mainText" >
      </mat-form-field>
  
</h1>
<h1 mat-dialog-title>
    <mat-form-field appearance="outline" >
        <mat-label>Prix</mat-label>
        <input matInput type="number" autocomplete="off" [(ngModel)]="PU" style="width:80%">   
       </mat-form-field>

   
</h1>
<h1 mat-dialog-title>
    <mat-form-field appearance="outline" >
        <mat-label>{{mainText*this.PU}}</mat-label>
        <input matInput type="number" autocomplete="off" disabled placeholder="{{mainText*this.PU}}" style="width:80%">   
       </mat-form-field>

   
</h1>

</div>

<div class="row" style="height: 100px;">
    <div class="col-md-4 "><button class="w-100 h-100 " mat-button (click)="pressKey('1')"><h2>1</h2></button>
    </div>
    <div class="col-md-4"><button class="w-100 h-100"  mat-button (click)="pressKey('2')"><h2>2</h2></button>
    </div>
    <div class="col-md-4"><button  class="w-100 h-100" mat-button (click)="pressKey('3')"><h2>3</h2></button>
    </div>
</div>
<div class="row" style="height: 100px;">
    <div class="col-md-4 "><button class="w-100 h-100" mat-button (click)="pressKey('4')"><h2>4</h2></button>
    </div>
    <div class="col-md-4"><button class="w-100 h-100"  mat-button (click)="pressKey('5')"><h2>5</h2></button>
    </div>
    <div class="col-md-4"><button  class="w-100 h-100" mat-button (click)="pressKey('6')"><h2>6</h2></button>
    </div>
</div>
<div class="row"style="height: 100px;" >
    <div class="col-md-4 "><button class="w-100 h-100" mat-button (click)="pressKey('7')"><h2>7</h2></button>
    </div>
    <div class="col-md-4"><button class="w-100 h-100"  mat-button (click)="pressKey('8')"><h2>8</h2></button>
    </div>
    <div class="col-md-4"><button  class="w-100 h-100" mat-button (click)="pressKey('9')"><h2>9</h2></button>
    </div>
</div>
<div class="row" style="height: 100px;">
    <div class="col-md-4 "><button class="w-100 h-100" mat-button (click)="onDelete()"><mat-icon aria-hidden="false" aria-label="Example backspace icon">backspace</mat-icon></button>
    </div>
    <div class="col-md-4"><button class="w-100 h-100"  mat-button (click)="pressKey('0')"><h2>0</h2></button>
    </div>
    <div class="col-md-4"><button  class="w-100 h-100" mat-button (click)="passer()" cdkFocusInitial><mat-icon aria-hidden="false" aria-label="Example check_box icon">check_box</mat-icon></button>
    </div>
</div>
</div>
<style>
    .mat-button{
    line-height: 60px !important;
    font-size: 30px !important;
    color: #3f51b5;
    }
    span{
        color: #3f51b5;

    }
 
</style>




<!-- <h1 mat-dialog-title>Hi {{data.article}}</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field>
    <mat-label>Favorite Animal</mat-label>
    <input matInput [(ngModel)]="data.prix">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.prix" cdkFocusInitial>Ok</button>
</div> -->