<div fxLayout="column">
    <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
        <h5>Article</h5>

        <button mat-stroked-button (click)="file.click()">
            <mat-icon>add_a_photo</mat-icon>
            <input (change)="onChange($event)" visbility="hidden" #file type="file" name="file" accept="image/*">

        </button>

    </mat-toolbar>
    <div class="body" fxLayout="column">
 

        <div style="width:100%" fxLayoutGap="50px">
            <div class="w-100" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Référence</mat-label>
                    <input  [(ngModel)]="reference" matInput required>
                </mat-form-field>
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Désignation</mat-label>
                    <input [formControl]="designation" matInput required>
                </mat-form-field>
            </div>
            <div class="w-100" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Stock Minimal</mat-label>
                    <input type="number" [formControl]="stockMin" matInput required>
                </mat-form-field>
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Stock Initial</mat-label>
                    <input type="number" [formControl]="stockInit" matInput required>
                </mat-form-field>
            </div>
            <div class="w-100" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Prix d'Achat</mat-label>
                    <input type="number" [formControl]="prixAchat" matInput required>
                </mat-form-field>
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Prix de Vente</mat-label>
                    <input type="number" [formControl]="prixVente" matInput required>
                </mat-form-field>
            </div>
            <div class="w-100" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Date d'Ajout</mat-label>
                    <input type="date" [formControl]="dateAjout" matInput required>
                </mat-form-field>
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Code de Confirmation</mat-label>
                    <input type="password" [formControl]="codeVerif" matInput required>
                </mat-form-field>
            </div>
        </div>

        <div class="dialog-footer" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
            <button mat-stroked-button color="primary" [disabled]="isValid"
                (click)="ajoutArticle()">Enregistrer</button>
            <button mat-stroked-button (click)="onNoClick()"> Annuler</button>
        </div>
    </div>
</div>
<style>
    mat-toolbar {
        background: #3f51b5;
        color: #fff;
    }

    .body {
        padding: 20px;    }

    input[type="file"] {
        display: inline-block;
        opacity: 0;
        position: absolute;
        width: 0;
        height: 0;
        cursor: pointer;
    }
</style>